@import "tailwindcss";

/* ✅ reset แบบง่าย ๆ ให้ layout responsive */
html, body, #app {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #e8e6e6; /* หรือเอาออกแล้วใช้ class ในแต่ละหน้า */
}

/* ✅ ให้ app กว้างเต็ม ไม่บังคับ max-width/padding */
#app {
  width: 100%;
  min-height: 100vh;
}
